# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Local testing
local_test/

# Python distribution files
maintainer/dist_build/

# Google test build dir
tests/cpp/build/

# Vim plugins
.syntastic_*_config

# Documentation build files
docs/python/build/
